@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

h1 {
    font-size: 4rem!important;
    color: white;
    font-weight: bold!important;
}
h2 {
    color: #f8f9fa!important;
    font-size: 22px;
    text-decoration: underline;
}

.container {
    margin-top: 4rem!important;
    margin-bottom: 1.5rem;
}

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1520px !important;
}

.img-box-black {
    background: black;
    width: 650px;
    height: 650px;
    margin: 2rem auto 1rem;
    display: flex;
    align-items: center;
    justify-content:space-around;
    position: relative;
}

.img-box-gold {
    background: gold;
    width: 650px;
    height: 650px;
    margin: 2rem auto 1rem;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

/* 상단 카드 */
/* 카드 회전 */
.card {
    width: 650px;
    height: 650px!important;
    perspective: 1000px;
    cursor: pointer;
    border: none!important;
}
.card-face {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 1s;
    backface-visibility: hidden;
}
.front {
    background-color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.back {
    background-color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
}
.card:hover .front {
    transform: rotateY(180deg);
}
.card:hover .back {
    transform: rotateY(360deg);
}

.front img,
.back img {
    width: 50%;
    height: 100%;
    margin: auto;
}

.card-back{
    text-align: center;
}

.card-text {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 1rem;
    color: white;
}

/* 앱 다운로드 알림창 */
.app-down {
    position: absolute;
    top: 85%;
    bottom: 25%;
    cursor: pointer;
}

.centered-box-tooltip {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    padding: 5px;
    z-index: 1;
    background-color: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    transform: translateX(-50%);
}

.centered-box-tooltip img {
    width: 150px;
    height: 150px;
}

.app-down:hover .centered-box-tooltip {
    display: block;
}

/* 상단 카드 애니메이션 */
.card h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    line-height: 0.75;
}

.card span:not(.light) {
    opacity: 0;
    animation: flashText 1s ease-out alternate infinite;
}

.card span.light {
    position: relative;
    display: inline-block;
}
.card span.light:before {
    position: absolute;
    left: 0;
    top: -10%;
    width: 100%;
    height: 120%;
    background: #ffffff;
    filter: blur(20px);
    content: "";
    opacity: 0;
    animation: flash 1s ease-out alternate infinite;
}

@keyframes flash {
    to {
        opacity: 1;
    }
}
@keyframes flashText {
    to {
        opacity: 0.15;
    }
}

/* 하단 카드 */
.skill-box {
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.img-thumbnail {
    width: 90%;
}

.mobile-box {
    display: flex;
    color: white;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
}

.mobile-img {
    margin-left: 3rem;
}

.mobile-box .img-thumbnail {
    height: 450px!important;
    width: 100%;
}

/* 하단 카드 애니메이션 */
.box {
    width: 60%;
    transition: 1s;
    margin: 2rem auto;
}

.box.active {
   width: 90%;
}

@media (max-width: 1400px) {
    h2 {
        font-size: 20px!important;
    }
    .img-box-black {
        width: 500px!important;
        height: 500px!important;
    }
    .img-box-gold {
        width: 500px!important;
        height: 500px!important;
    }
    .card {
        width: 500px!important;
        height: 500px!important;
    }
    .icon-img {
        width: 400px;
    }
}

@media screen and (max-width:960px) {
    .card {
        width: 300px!important;
        height: 300px!important;
    }
    .img-box-black {
        width: 300px!important;
        height: 300px!important;
    }
    .icon-img {
        width: 200px;
    }
    .img-box-gold {
        width: 300px!important;
        height: 300px!important;
    }
    .navbar-brand {
        margin-left: 1rem!important;
    }
    .app-down {
        display: none;
    }
    h1 {
        font-size: 30px!important;
    }
    .mobile-box .img-thumbnail {
        height: 250px!important;
    }
    .mobile-img {
        margin-left: 1rem;
    }
    .mobile-box p {
        font-size: 20px;
    }
    .card-text {
        font-size: 20px;
        margin-bottom: 0;
    }
    .skill-box {
        font-size: 20px;
    }
    .box {
        margin: 1rem auto;
    }
}