html, main {
    background: #eaeaea;
}

html, body {
    height: 105%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

a:link {
    color: black!important;
}

a:visited {
    color: black;
}

a:hover {
    color: black!important;
}

#root {
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
}

.main-wrap {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
}

.wrap {
    width: 100%;
    max-width: 500px;
    margin-top: 6rem;
}

.result {
    margin-top: 1.5rem;
}

.login-box {
    text-align: center;
}

.contents {
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    background: white;
    margin-bottom: 2rem;
    border: solid 1px darkgray;
}

.contents .upload-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contents .upload-box .drag-file {
    position: relative;
    width: 60%;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed #dbdbdb;
}
.contents .upload-box .drag-file.highlight {
    border: 3px dashed red;
}
.contents .upload-box .drag-file .image {
    width: 40px;
}
.contents .upload-box .drag-file .message {
    margin-bottom: 0;
}
.contents .upload-box .drag-file .preview {
    display: none;
    position: absolute;
    left: 0;
    height: 0;
    width: 100%;
    height: 100%;
}
.contents .upload-box .file-label {
    margin-top: 30px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 65%;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 2rem;
}
.submit {
    margin-top: 30px;
    background-color: #666669;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 45%;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 2rem;
}

.contents .upload-box .file {
    display: none;
}

.label {
    margin-left: 10px;
    margin-right: 10px;
}

.form-label {
    margin-left: 10px;
    margin-right: 10px;
}

.display-image {
    height: 200px;
    width: 45%;
    margin: 0rem auto 1rem;
}


@media screen and (max-width: 768px) {
    .wrap {
        width: 350px;
    }
}